body{}*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
header,footer{
    background-color: rgb(185, 40, 40);
    width:100%;
    color: black;
}
header{
    height: 12vh;
}
footer{
    position: absolute;
    height: 10vh;
    bottom: 0;
}
footer p{
    margin-top: 20px;
    text-align: center;
}
header h1,p{
    margin-left: 20px;
}
.img {
    width: 900px;
    height: 625px;
    background-image: url(Sasseen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}